
.message-wrapper {
    margin-top: 20px;
}

.message {
    font-weight: bold;
    font-size: 32px;
    margin-top: 10px;
}

.remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
    margin-top: 20px;
}
  
  .remained span {
    font-size: 20px;
    font-weight: bold;
}
  
  .remained small {
    font-size: 12px;
}
  
  